@using OrientaTEC_MVC.Models
@model List<Profesor>

@{
    ViewBag.Title = "Gestor de Profesores";
}

<div class="search-container">
    <button id="btnAgregarProfesor" class="add-button">Agregar Profesor</button>
</div>


<div class="container">


    <table id="profesoresTable" class="display">
        <thead>
            <tr>
                <th>Sede</th>
                <th>Nombre</th>
                <th>Código</th>
                <th>Correo</th>
                <th>Teléfono</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var profesor in Model)
            {
                <tr>
                    <td>@profesor.Sede</td>
                    <td>@profesor.Nombre1  @profesor.Nombre2 @profesor.Apellido1 @profesor.Apellido2</td>
                    <td>@profesor.Codigo</td>
                    <td>@profesor.Correo</td>
                    <td>@profesor.TelOficina</td>
                    <td>
                        <button class="btnEditar" data-id="@profesor.Codigo">✎</button>
                        <button class="btnUsuario" data-id="@profesor.Codigo" data-activo="@profesor.Activo">
                            @if (profesor.Activo)
                            {
                                <span>🗸</span>
                            }
                            else
                            {
                                <span>🞮</span>
                            }
                        </button>

                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<div id="modalProfesor_Agregar" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Agregar Profesor</h2>
        <form id="formProfesor">
            <div class="input-row">
                <div class="input-group">
                    <label for="sede">Sede</label>
                    <select id="sede" name="sede">
                        <option value="SJ">SJ</option>
                        <option value="CA">CA</option>
                        <option value="SC">SC</option>
                        <option value="LI">LI</option>
                        <option value="AL">AL</option>
                    </select>
                </div>
                <div class="input-group">
                    <label for="nombre1">Nombre</label>
                    <input type="text" id="nombre1" name="nombre1" required>
                </div>
            </div>
            <div class="input-row">
                <div class="input-group">
                    <label for="nombre2">Segundo Nombre</label>
                    <input type="text" id="nombre2" name="nombre2">
                </div>
                <div class="input-group">
                    <label for="apellido1">Primer Apellido</label>
                    <input type="text" id="apellido1" name="apellido1" required>
                </div>
            </div>
            <div class="input-row">
                <div class="input-group">
                    <label for="apellido2">Segundo Apellido</label>
                    <input type="text" id="apellido2" name="apellido2" required>
                </div>
            
                <div class="input-group">
                    <label for="correo">Correo</label>
                    <input type="email" id="correo" name="correo" required>
                </div>
            </div>
            <div class="input-row">
                <div class="input-group">
                    <label for="telOficina">Telefono</label>
                    <input type="text" id="telOficina" name="telOficina" required oninput="formatoTelefono(this)" pattern="[0-9]{4}-[0-9]{4} \[ext.[0-9]{4}\]" placeholder="____-____ [ext.____]" maxlength="20">

                </div>
            
                <div class="input-group">
                    <label for="telCelular">Celular</label>
                    <input type="tel" id="telCelular" name="telCelular">
                </div>
            </div>
            <div class="input-row">
                <div class="input-group file-group">
                    <label for="foto">Foto</label>
                    <input type="file" id="foto" name="foto" accept="image/*">
                    <div class="image-preview" id="imagePreview">
                        <img src="" alt="Vista previa de la imagen" id="imgPreview">
                        <span class="remove-image" style="display:none;">&times;</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn accept">Aceptar</button>
                <button type="button" class="btn cancel">Cancelar</button>
            </div>
        </form>
    </div>

</div>



<div id="modalProfesor_Editar" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Editar Profesor</h2>
        <form id="formEditarProfesor">
            <div class="input-row">
                <div class="input-group">
                    <label for="sede">Sede</label>
                    <select id="sede" name="sede" disabled>
                        <option value="SJ">SJ</option>
                        <option value="CA">CA</option>
                        <option value="SC">SC</option>
                        <option value="LI">LI</option>
                        <option value="AL">AL</option>
                    </select>
                </div>
                <div class="input-group">
                    <label for="codigo">codigo</label>
                    <input type="text" id="codigo" name="codigo" readonly>
                </div>
            </div>
            <div class="input-row">
                <div class="input-group">
                    <label for="nombre1">Nombre</label>
                    <input type="text" id="nombre1" name="nombre1" required>
                </div>
                <div class="input-group">
                    <label for="nombre2">Segundo Nombre</label>
                    <input type="text" id="nombre2" name="nombre2">
                </div>
            </div>
            <div class="input-row">
                <div class="input-group">
                    <label for="apellido1">Primer Apellido</label>
                    <input type="text" id="apellido1" name="apellido1" required>
                </div>
                <div class="input-group">
                    <label for="apellido2">Segundo Apellido</label>
                    <input type="text" id="apellido2" name="apellido2" required>
                </div>
            </div>
            <div class="input-row">
                <div class="input-group">
                    <label for="correo">Correo</label>
                    <input type="email" id="correo" name="correo" required>
                </div>
                <div class="input-group">
                    <label for="telOficina">Telefono</label>
                    <input type="text" id="telOficina" name="telOficina" required oninput="formatoTelefono(this)" pattern="[0-9]{4}-[0-9]{4} \[ext.[0-9]{4}\]" placeholder="____-____ [ext.____]" maxlength="20">

                </div>
            </div>
            <div class="input-row">
                <div class="input-group">
                    <label for="telCelular">Celular</label>
                    <input type="tel" id="telCelular" name="telCelular">
                </div>

                <div class="input-group file-group">
                    <label for="foto">Foto</label>
                    <input type="file" id="foto" name="foto" accept="image/*">
                    <div class="image-preview" id="imagePreview">
                        <img src="" alt="Vista previa de la imagen" id="imgPreview">
                        <span class="remove-image" style="display:none;">&times;</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn accept">Guardar Cambios</button>
                <button type="button" class="btn cancel">Cancelar</button>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">

    <script>
        $(document).ready(function () {
            $('#profesoresTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
                }
            });
        });






        function formatoTelefono(input) {
            const regex = /^[0-9]{4}-[0-9]{4} \[ext.[0-9]{4}\]$/;
            const inputValue = input.value;

            if (!regex.test(inputValue)) {
                const formattedValue = inputValue.replace(/[^\d]/g, '').replace(/(\d{4})(\d{0,4})(\d{0,4})/, "$1-$2 [ext.$3]");
                input.value = formattedValue;
            }
        }







        // function reloadTable() {
        //     $.ajax({
        //         url: '@Url.Action("GetUpdatedProfesoresTable", "GestorProfesores")',
        //         type: 'GET',
        //         success: function (newTableHtml) {
        //             $('#profesoresTable').replaceWith(newTableHtml);
        //             initDataTable(); // Reinitialize DataTable
        //         },
        //         error: function () {
        //             alert('Failed to reload table. Please try again.');
        //         }
        //     });
        // }


        // function initDataTable() {
        //     $('#profesoresTable').DataTable({
        //         "language": {
        //             "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
        //         }
        //     });
        // }

        // $(document).ready(function () {
        //     initDataTable();
        // });



        // activo/inactivo de un profesor
        $('.btnUsuario').click(function () {
            var btn = $(this);
            var profesorId = btn.data('id');
            var activo = btn.data('activo');

            $.ajax({
                url: '/GestorProfesores/ToggleEstadoProfesor',
                type: 'POST',
                data: { id: profesorId, activo: !activo },
                success: function (response) {
                    if (response.success) {
                        btn.data('activo', !activo);
                        btn.html(!activo ? '🗸' : '🞮');
                    } else {
                        alert('Error al cambiar el estado.');
                    }
                },
                error: function () {
                    alert('Error al comunicarse con el servidor.');
                }
            });
        });

        // Agregar profesor - muestra el modal
        $('#btnAgregarProfesor').click(function () {
            $('#modalProfesor_Agregar').css('display', 'flex');
        });

        $('#modalProfesor_Agregar .close, #modalProfesor_Agregar .cancel').click(function () {
            limpiarModalAgregar();
            $(this).closest('.modal').hide();
        });

        $('#modalProfesor_Editar .close, #modalProfesor_Editar .cancel').click(function () {
            limpiarModalEditar();
            $(this).closest('.modal').hide();
        });

        $('#formProfesor').submit(function (e) {
            e.preventDefault();
            var formData = new FormData(this);
            $.ajax({
                url: '/GestorProfesores/AgregarProfesor', 
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.success) {
                        alert(response.message);
                        try {
                            location.reload();

                        } catch (error) {
                            console.error(error);
                            alert("Error al recargar tabla");
                        }
                        
                        $('#modalProfesor_Agregar').hide();
                        limpiarModalAgregar();
                    } else {
                        alert(response.message);
                    }
                },
                error: function () {
                    alert('Error al procesar la solicitud.');
                }
            });
        });



        // Editar profesor
        $('.btnEditar').click(function () {
            var profesorId = $(this).data('id');
            $.ajax({
                url: '/GestorProfesores/GetProfesorDetails', 
                type: 'GET',
                data: { id: profesorId },
                success: function (result) {
                    profesor = result.data;
                    $('#modalProfesor_Editar #codigo').val(profesor.codigo);
                    $('#modalProfesor_Editar #sede').val(profesor.sede);
                    $('#modalProfesor_Editar #nombre1').val(profesor.nombre1);
                    $('#modalProfesor_Editar #nombre2').val(profesor.nombre2);
                    $('#modalProfesor_Editar #apellido1').val(profesor.apellido1);
                    $('#modalProfesor_Editar #apellido2').val(profesor.apellido2);
                    $('#modalProfesor_Editar #correo').val(profesor.correo);
                    $('#modalProfesor_Editar #telOficina').val(profesor.telOficina);
                    $('#modalProfesor_Editar #telCelular').val(profesor.telCelular);
                    $('#modalProfesor_Editar #foto').val(null); 
                    $('#modalProfesor_Editar #imgPreview').attr('src', profesor.imagenURL || '');
                    $('#modalProfesor_Editar').css('display', 'flex');


                    
                },
                error: function () {
                    alert('Error al cargar los datos del profesor.');
                }
            });
        });

        $('#formEditarProfesor').submit(function (event) {
            event.preventDefault(); // Prevent default form submission
            var formData = new FormData(this);
            $.ajax({
                url: '/GestorProfesores/EditarProfesor',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.success) {
                        try {
                            // $('#profesoresTable').DataTable().ajax.reload(null, false);
                            // recargarTabla();
                            location.reload();

                        } catch (error) {
                            console.error(error);
                            alert("Error al recargar tabla");
                        }
                        $('#modalProfesor_Editar').hide(); 
                    } else {
                        alert(response.message);
                    }
                    limpiarModalEditar();
                    $('#modalProfesor_Editar').hide();
                },
                error: function () {
                    alert('Error al actualizar el profesor.');
                }
            });
        });

        $('#foto').change(function (e) {
            if (e.target.files && e.target.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imgPreview').attr('src', e.target.result).show();
                    $('.remove-image').show();
                }
                reader.readAsDataURL(e.target.files[0]);
            }
        });

        $('.remove-image').click(function () {
            $('#imgPreview').attr('src', '').hide();
            $('#foto').val('');
            $(this).hide();
        });




        function limpiarModalAgregar() {
            $('#modalProfesor_Agregar input[type="text"], #modalProfesor_Agregar input[type="email"], #modalProfesor_Agregar input[type="tel"]').val('');
            $('#modalProfesor_Agregar select').val($('#modalProfesor_Agregar select option:first').val());
            $('#modalProfesor_Agregar img').attr('src', '');
            $('#modalProfesor_Agregar .remove-image').hide();
        }

        function limpiarModalEditar() {
            $('#modalProfesor_Editar input[type="text"], #modalProfesor_Editar input[type="email"], #modalProfesor_Editar input[type="tel"]').val('');
            $('#modalProfesor_Editar select').val($('#modalProfesor_Editar select option:first').val());
            $('#modalProfesor_Editar img').attr('src', '');
            $('#modalProfesor_Editar .remove-image').hide();
        }



        function recargarTabla() {
            $.ajax({
                url: '@Url.Action("GetUpdatedProfesoresTable", "GestorProfesores")',
                type: 'GET',
                success: function (newTableHtml) {
                    $('#profesoresTable').replaceWith(newTableHtml);
                    $('#profesoresTable').DataTable().destroy();
                    initDataTable(); 
                },
                error: function () {
                    alert('Error al recargar tabla');
                }
            });
        }

        function initDataTable() {
            $('#profesoresTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
                }
            });
        }


    </script>
}






<style>

    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14px;
        color: #333;
    }

    .btnUsuario, .btnEditar, .action-button {
        border: none;
        background-color: transparent;
        color: inherit;
        cursor: pointer;
        font-size: 16px;
    }

    .search-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;
    }

    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .add-button, #btnAgregarProfesor {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 2px;
        font-size: 16px;
        cursor: pointer;
        margin-bottom: 10px;
    }

    .table, .dataTables_wrapper {
        width: 100%;
        border-collapse: collapse;
    }

        .table th, .table td, .dataTables_wrapper .dataTables_filter input, .form-row input[type="text"], .form-row input[type="email"], .form-row input[type="tel"], .form-row select {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .table th {
            background-color: #f2f2f2;
            cursor: pointer;
        }

        .table td {
            text-align: left;
        }

        .table tr:hover {
            background-color: #f1f1f1;
        }

        .dataTables_wrapper .dataTables_filter {
            float: right;
            text-align: right;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button {
            padding: 5px 10px;
            margin: 0 5px;
            border: 1px solid #ddd;
            border-radius: 2px;
            cursor: pointer;
        }

            .dataTables_wrapper .dataTables_paginate .paginate_button.current,
            .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
                border: 1px solid transparent;
                background-color: #007bff;
                color: white;
            }

    .modal {
        display: none;
        align-items: center;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .modal-content {
        background: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 600px;
        margin: auto;
    }

    .modal.show .modal-content {
        transform: scale(1);
    }

    .close {
        float: right;
        font-size: 1.5rem;
        font-weight: bold;
        color: #000;
        cursor: pointer;
    }

        .close:hover {
            color: #e00;
        }

    .modal-header h2, .modal-footer {
        margin: 0;
        padding: 1em 0;
        text-align: center;
        font-size: 1.5em;
        color: #333;
    }

    .modal-body, .form-row {
        margin-top: 20px;
    }

    .form-row {
        display: flex;
        justify-content: space-between;
    }

    .form-column {
        flex: 1;
        margin-right: 10px;
    }

        .form-column:last-child {
            margin-right: 0;
        }

    .image-upload-container {
        position: relative;
        width: 100%;
        height: 200px;
        border: 1px dashed #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

        .image-upload-container:hover {
            background-color: #f8f8f8;
        }

    .btn, .btn.cancel, .btn.accept {
        padding: 10px 20px;
        margin-right: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .btn:hover {
            background-color: #0056b3;
        }

        .btn.cancel {
            background-color: #f44336;
        }

            .btn.cancel:hover {
                background-color: #d32f2f;
            }

        .btn.accept {
            background-color: #4CAF50;
        }

            .btn.accept:hover {
                background-color: #388E3C;
            }

    .user[data-activo='false'] {
        color: gray;
    }




    .input-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .input-group {
        display: flex;
        flex-direction: column;
        flex-basis: 48%
    }

        .input-group.full-width {
            flex-basis: 100%;
        }

        .input-group:last-child {
            margin-right: 0;
        }

        .input-group.file-group {
            flex: 1 100%;
        }

    input[type="text"], input[type="email"], input[type="tel"], select {
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        transition: border-color 0.3s, box-shadow 0.3s;
    }

        input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, select:focus {
            border-color: #007bff;
            box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
            outline: none;
        }

    label {
        margin-bottom: 5px;
        font-weight: bold;
    }


    .file-group {
        border: 1px dashed #ccc;
        padding: 10px;
        border-radius: 4px;
        text-align: center;
    }

        .file-group input[type="file"] {
            margin-top: 10px;
        }

    .image-preview {
        margin-top: 10px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .image-preview img {
            max-width: 100%;
            max-height: 100%;
        }

    .btn {
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;
    }

        .btn.accept {
            background-color: #A3CE6D;
            color: white;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        }

        .btn.cancel {
            background-color: #FC7970;
            color: white;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        }

        .btn:hover {
            opacity: 0.85;
        }

</style>

