@using OrientaTEC_MVC.Models
@model List<Profesor>

@{
    ViewBag.Title = "Gestor de Profesores";
}

<div class="search-container">
    <input type="search" id="buscarProfesor" placeholder="Buscar profesor..." onkeyup="searchTable()">
    <button id="btnAgregarProfesor" class="add-button">Agregar Profesor</button>
</div>


<div class="container">


    <table id="profesoresTable" class="display">
        <thead>
            <tr>
                <th>Sede</th>
                <th>Nombre</th>
                <th>Código</th>
                <th>Correo</th>
                <th>Teléfono</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var profesor in Model)
            {
                <tr>
                    <td>@profesor.Sede</td>
                    <td>@profesor.Nombre</td>
                    <td>@profesor.Codigo</td>
                    <td>@profesor.Correo</td>
                    <td>@profesor.Telefono</td>
                    <td>
                        <button class="btnEditar" data-id="@profesor.Codigo">✎</button>
                        <button class="btnUsuario" data-id="@profesor.Codigo" data-activo="@profesor.Activo">
                            @if (profesor.Activo)
                            {
                                <span>🗸</span>
                            }
                            else
                            {
                                <span>🞮</span>
                            }
                        </button>

                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<div id="modalProfesor" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Editar Profesor</h2>
        <form id="formProfesor">
            <label for="sede">Sede</label>
            <select id="sede" name="sede">
                <option value="SJ">SJ</option>
                <option value="CA">CA</option>
            </select>

            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" required>

            <label for="apellidos">Apellidos</label>
            <input type="text" id="apellidos" name="apellidos" required>

            <label for="correo">Correo</label>
            <input type="email" id="correo" name="correo" required>

            <label for="telefono">Telefono</label>
            <input type="tel" id="telefono" name="telefono" required>

            <label for="celular">Celular</label>
            <input type="tel" id="celular" name="celular">

            <div class="image-upload-container">
                <label for="foto">Foto</label>
                <input type="file" id="foto" name="foto" accept="image/*">
                <div class="image-preview" id="imagePreview">
                    <img src="" alt="Vista previa de la imagen" id="imgPreview">
                    <span class="remove-image" style="display:none;">&times;</span>
                </div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn">Aceptar</button>
                <button type="button" class="btn cancel">Cancelar</button>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">

    <script>
        $(document).ready(function () {
            $('#profesoresTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
                }
            });
        });


        $('.btnUsuario').click(function () {
            var btn = $(this);
            var profesorId = btn.data('id');
            var activo = btn.data('activo');

            $.ajax({
                url: '/GestorProfesores/ToggleEstadoProfesor', // Modificada para coincidir con el nombre del controlador
                type: 'POST',
                data: { id: profesorId, activo: !activo },
                success: function (response) {
                    if (response.success) {
                        btn.data('activo', !activo);
                        btn.html(!activo ? '🗸' : '🞮');
                    } else {
                        alert('Error al cambiar el estado.');
                    }
                },
                error: function () {
                    alert('Error al comunicarse con el servidor.');
                }
            });
        });



        // JavaScript para abrir y cerrar el modal
        document.getElementById('btnAgregarProfesor').addEventListener('click', function () {
            document.getElementById('modalProfesor').style.display = 'block';
        });

        document.querySelector('.close').addEventListener('click', function () {
            document.getElementById('modalProfesor').style.display = 'none';
        });

        document.querySelector('.cancel').addEventListener('click', function () {
            document.getElementById('modalProfesor').style.display = 'none';
        });

        // Manejo de la carga de imágenes
        document.getElementById('foto').addEventListener('change', function (event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('imgPreview');
                output.src = reader.result;
                document.querySelector('.remove-image').style.display = 'inline';
            };
            reader.readAsDataURL(event.target.files[0]);
        });

        document.querySelector('.remove-image').addEventListener('click', function () {
            var preview = document.getElementById('imgPreview');
            preview.src = '';
            this.style.display = 'none';
            document.getElementById('foto').value = null;
        });



    </script>
}





<style>

    .btnUsuario, .btnEditar {
        border: none;
        background-color: inherit;
    }


    .dataTables_wrapper {
        width: 100%;
    }


        .dataTables_wrapper .dataTables_filter {
            float: right;
            text-align: right;
        }

            .dataTables_wrapper .dataTables_filter input {
                margin-left: 0.5em;
            }

    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;
    }

    .add-button {
        /* Add styles for the button based on your image */
    }

    .table {
        width: 100%;
        border-collapse: collapse;
    }

        .table th, .table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        .table th {
            background-color: #f2f2f2;
            cursor: pointer;
        }

    .action-button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-size: 16px;
    }

    .btnEditar, .btnUsuario {
        color: #000; /* Or your preferred color */
        font-size: 25px;
    }

    .user {
        color: #555; /* Or your preferred color */
    }

        .user[data-activo='false'] {
            color: gray;
        }



    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14px;
        color: #333;
    }

    .table {
        border-collapse: collapse;
        width: 100%;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        background-color: white;
    }


        .table th {
            background-color: #f8f8f8;
            color: #333;
            padding: 12px 15px;
            border-bottom: 1px solid #ddd;
        }


        .table td {
            padding: 12px 15px;
            border-bottom: 1px solid #ddd;
        }


        .table tr:hover {
            background-color: #f1f1f1;
        }


    .dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_filter,
    .dataTables_wrapper .dataTables_info,
    .dataTables_wrapper .dataTables_paginate {
        padding: 20px;
    }


        .dataTables_wrapper .dataTables_paginate .paginate_button {
            padding: 5px 10px;
            margin: 0 5px;
            border: 1px solid #ddd;
            border-radius: 2px;
            cursor: pointer;
        }


            .dataTables_wrapper .dataTables_paginate .paginate_button.current,
            .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
                border: 1px solid transparent;
                background-color: #007bff;
                color: white;
            }


    #btnAgregarProfesor {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 2px;
        font-size: 16px;
        cursor: pointer;
        margin-bottom: 10px;
    }


    .dataTables_wrapper .dataTables_filter input {
        height: 32px;
        margin-left: 0.5em;
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 2px;
    }


    .action-button {
        background: none;
        border: none;
        cursor: pointer;
        color: inherit;
        padding: 0;
        font: inherit;
    }

    .edit, .user {
        font-size: 16px;
        color: #555;
    }

        .user[data-activo='false'] {
            color: gray;
        }


    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modal-content {
        background: white;
        width: 90%;
        max-width: 600px;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transform: scale(0.7);
        transition: transform 0.3s ease-out;
    }

    .modal.show .modal-content {
        transform: scale(1);
    }

    .close {
        float: right;
        font-size: 1.5rem;
        font-weight: bold;
        color: #000;
        cursor: pointer;
    }

        .close:hover {
            color: #e00;
        }

    .modal-header, .modal-footer {
        padding: 1em 0;
        text-align: center;
    }

        .modal-header h2 {
            margin: 0;
            font-size: 1.5em;
            color: #333;
        }

    .modal-body {
        margin-top: 20px;
    }

    .modal-footer {
        display: flex;
        justify-content: flex-end;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    select {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 20px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type="file"] {
        display: none;
    }

    .image-upload-container {
        position: relative;
        width: 100%;
        height: 200px;
        border: 1px dashed #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

        .image-upload-container:hover {
            background-color: #f8f8f8;
        }

    .btn {
        padding: 10px 20px;
        margin-right: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .btn:hover {
            background-color: #0056b3;
        }

        .btn.cancel {
            background-color: #f44336;
        }

            .btn.cancel:hover {
                background-color: #d32f2f;
            }

        .btn.accept {
            background-color: #4CAF50;
        }

            .btn.accept:hover {
                background-color: #388E3C;
            }

</style>

